<div class="box2">
  <div class="box3">
    <%= image_tag @picture.image_url, size: '100x120' %><br>
    <font><タイトル></font><br>
    <%= @picture.title %><br>
    <font><説明></font><br>
    <%= @picture.caption %>
  </div>
</div>