<div class="box2">
  <div class="box3">
    <font size="4">退会すると、会員登録情報や<br>
      これまでのレビュー履歴が閲覧できなくなります。<br>
      退会する場合は、「退会する」をクリックしてください。
    </font><br>
    <span></span><br>
    <%= link_to"退会しない",user_user_path(current_user.id),class:"btn btn-sm btn-primary" %><span style="margin-right:2em;"></span>
    <%= link_to"退会する",user_user_path(current_user.id), method: :delete,class: "btn btn-sm btn-danger" %>
  </div>
</div>