<body>

  <div class="box">
    <h2>このサイトについて</h2>
    使用方法についての説明
  </div>
  <div class="about">


    <div class="about_item">
      マイページ機能<br>
      マイページでは、あなたのレビューや
      お気に入りの映画を
      確認したり、編集ができます。
    </div>
    <div class="about_item">
      映画を観る目的は？<br>
      皆さんが映画を観る目的は何ですか？
      トップ画面から、タイトル名やジャンルで
      映画を検索し、ユーザーのレビューには、
      映画を観た目的とそれに対する達成が
      星マークで確認できます。

    </div>
    <div class="about_item">
      レビュー機能<br>
      映画のレビューをして、ユーザーに感想・評価を
      共有できます。
      他ユーザーのレビューに「いいね」ができます。
    </div>
  </div>




</body>

