<div class="box2">
  <div class="box3">
    <p>ようこそ、Enjoy the movie！へ</p>
    <p>このサイトでは管理人が投稿した映画に</p>
    <p>ユーザーの皆さんがレビューをしたり、</p>
    <p>他のユーザーのレビューを見ることができます。</p>
    <p>利用には、会員登録が必要です。</p>
  </div>
</div>