
  <div class="box">
    <div class="box1">
    <h4>ようこそ、Enjoy the movie!へ</h4><br>
  このサイトは、管理人が投稿した映画に<br>
  ユーザーの皆さんがレビューをすることができます。<br>
  また、他のユーザーのレビューを見ることができます。<br>
  サイトの利用には、会員登録が必要です。
   </p>
    </div>
  </div>

