/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
.page-header {
  width: 100%;
  height: 80px;
  background-color: black;
  padding: 5px 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.wrapper {
  padding: 10px 4%;
}
.social {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f03d";
  font-size: 30px;
  color: white;
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 auto;
  padding: 0 10px;
}
.link{
  color: white;
}
body{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-image: image-url("top.jpg");
  background-size: cover;
}
footer{
  position: absolute;
  bottom: 0;
  background-color: black;
  width: 100%;
  height: 50px;
}
.container-fluid{
  width: 100%;
  position: relative;
  height: auto !important;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  padding-bottom: 150px;
  box-sizing: border-box;
}
.flash{
  color: white;
}
.box2{
  display: flex;

  height: 100vh;
  width: 100%;
}
.box3{
  text-align: center;
  margin: auto;
  color: white;
}
.box10{
  text-align: center;
  margin:10px auto;
  color: white;
}
td, th {
  padding: 2px 10px;
}
table{
  margin: 2px 5px;
}
