.box2{
  display: flex;
  justify-content:flex-end;
  height: 100vh;
  width: 100%;
  background-image: image-url('top.jpg');
  background-size:cover;
}
.box3{
  text-align: center;
  margin:30px auto;
  color: white;
}