// Place all the styles related to the user/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*top_page*/

.box {
  background-image: image-url("top.jpg");
  background-size:cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content:flex-end;

}
.box1{
  color: white;
  text-align: center;
  margin:30px 400px;
}
